.newUser {
    flex: 4;
}

.newUserForm {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.newUserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.newUserItem > label {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.newForestSelect {
    height: 50px;
    border-radius: 5px;
}

.newUserButton {
    width: 100px;
    height: 40px;
    border: none;
    background-color: green;
    color: white;
    padding: 10px 5px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 50px; 
    cursor: pointer;
}